<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<!--
<select name="month" py:def="month_selector(current_month, months, day)">
    <option value='' py:attrs="{'selected': 'selected' if not current_month else None}">All months</option>
  <py:for each="i, (val,desc) in enumerate(months)">
    <option value='${val}' py:attrs="{'selected': 'selected' if current_month == val else None}">${desc}<py:if test="i == 0 and day"> (up to ${day})</py:if></option>
  </py:for>
</select> -->

</html>
